In [105]:
# An analysis to up my inner "90's kid" pokemon skills

import pandas as pd
import numpy as np
import scipy

poke = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

In [106]:
poke[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].describe().round(2)

           HP  Attack  Defense  Sp. Atk  Sp. Def   Speed
count  800.00  800.00   800.00   800.00   800.00  800.00
mean    69.26   79.00    73.84    72.82    71.90   68.28
std     25.53   32.46    31.18    32.72    27.83   29.06
min      1.00    5.00     5.00    10.00    20.00    5.00
25%     50.00   55.00    50.00    49.75    50.00   45.00
50%     65.00   75.00    70.00    65.00    70.00   65.00
75%     80.00  100.00    90.00    95.00    90.00   90.00
max    255.00  190.00   230.00   194.00   230.00  180.00

In [107]:
# I only played up to gen 4, so I'm removing all the other pokemon
poke = poke[poke['Generation'].between(0,4)] \
                .rename(columns = {'Type 1':'type_1',
                'Type 2':'type_2',
                'Sp. Atk':'sp_atk',
                'Sp. Def':'sp_def'})
poke.columns = poke.columns.str.lower()

In [108]:
poke.head(10) 
# Duplicate index values!

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [109]:
poke = poke.drop_duplicates('#', keep='first')

In [110]:
poke.tail()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
547,489,Phione,Water,NaN,480,80,80,80,80,80,80,4,False
548,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False
549,491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True

In [ ]:
poke = poke.set_index('#')